<div class="calculator">
  <div class="calculator__body">
    <div class="calculator__info">
      <div class="calculator__result">
        {{ result }}
      </div>
    </div>
    <div class="calculator__calc-buttons">
      <div class="calculator__row">
        <button mat-icon-button (click)="delete()">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button (click)="saveToMemory()">
          <mat-icon>backup</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(true)">
          <mat-icon>backspace</mat-icon>
        </button>
      </div>
      <div class="calculator__row" *ngFor="let row of calcMap">
        <button mat-button *ngFor="let button of row" (click)="addToCalculation(button)">{{ button }}</button>
      </div>
    </div>
  </div>
</div>
<div class="memory">
  <div class="memory__item" *ngFor="let item of memory; let i = index;">
    <span>{{ item }}</span>
    <button mat-icon-button (click)="copyFromMemory(item)">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteFromMemory(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

